#info-box {
  font-family: monospace;
  font-size: small;
  pointer-events: stroke; /* allow you to click through div (to links underneath) */
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #008080;
  width: 900px;
  height: 400px;
  padding: 25px;
  border: 1px solid navy;
  /*margin: 25px;*/
  background: rgb(255, 82, 20); /* Fallback for older browsers without RGBA-support */
  /*background: rgba(204, 204, 204, 0.7);            */
  background: rgba(255, 82, 20, 0.5);
/*          opacity:0.4;
            filter:alpha(opacity=40);
*/            color: black;
}